.main-title-size {
	font-size: 24px;
}
textarea {
	width: 100%;
}
.standart-font-size {
	font-size:16px;
}
.text-lightgray {
	color: lightgray;
}
.bg-gray {
	background-color: gray;
}
textarea {
	color: lightgray;
}

