@font-face {
	font-family: 'open Sans Bold';
	src: url(../fonts/OpenSans-Bold.ttf);
}
@font-face {
	font-family: 'open Sans Light';
	src: url(../fonts/OpenSans-Light.ttf);
}
@font-face {
	font-family: 'open Sans Regular';
	src: url(../fonts/OpenSans-Regular.ttf);
}
@font-face {
	font-family: 'open Sans Semibold';
	src: url(../fonts/OpenSans-Semibold.ttf);
}