@import 'font.css';
body {
	font-family: 'Open Sans';
}

ul, li {
	display: block;
	padding: 0;
	margin: 0;
}

.menu-bar {
	background: #fff;
	padding: 20px 0;
	color: #212121;
}
.menu-item {
	margin-left: 37px;
}
.menu-item a {
	font-family: 'Open Sans Semibold';
	font-size: 20px;
	color: #212121;
}
.menu-item a:hover {
	text-decoration: none;
	color: #868686;
}

/*Hat*/
.header {
	color: white;
	text-align: center;
	padding: 180px 0;
	background-size: cover;
	background-position: 0 100%;
	background-image: url(../../img/header.png);
}

.header-title {
	font-size: 55px;
}
.header-text {
	font-size: 20px;
	margin-bottom: 100px;
}
.button {
	text-transform: uppercase;
	padding: 10px 25px;
	margin: 0 10px;
	color: white;
	transition: 0.3s;
	background: #00897b;
	cursor: pointer;
	border: 2px solid white;
}
.button:hover {
	background: transparent;
	border: 2px solid white;
}

/*About us*/
.about {
	padding-top: 120px;
	padding-bottom: 125px;
	color: black;
	background: white;
	text-align: center;
}
.about-title {
	font-size: 30px;
	font-weight: bold;
}
.about-text {
	color: #212121;
	margin-bottom: 110px;
	font-size: 15px;
}
.about-h3 {
	margin-top: 30px;
	margin-bottom: 18px;
	font-family: 'Open Sans Semibold';
	font-size: 20px;
}
.services {
	padding-top: 165px;
	padding-bottom: 125px;
	color: black;
	background: #e4fdf9;
	text-align: center;
}
.our-card {
	padding: 50px 40px 40px;
	background: white;
	transition: 0.3s;
	margin-bottom: 30px;
}
.our-card:hover {
	background: #00897b;
	color: white;
	box-shadow: 0px 10px 12px -3px rgba(0, 0, 0, 0.26);
}
.our-card:hover .icon {
	color: white;
}
.our-card:hover .button-services {
	border: 2px solid white;
	color: white;
}
.icon {
	font-size: 60px;
	color: black;
	transition: 0.3s;
}
.button-services {
	transition: 0.3s;
	color: black;
	text-transform: uppercase;
	border: 2px solid black;
	background: transparent;
	padding: 14px 12px 12px;
	margin-top: 20px;
	font-family: 'Open Sans Semibold';
}
.button-services:hover {
	cursor: pointer;
}

/*portfolio*/
.portfolio {
	text-align: center;
	padding-top: 120px;
	padding-bottom: 135px;
}
.portfolio button:hover,
.focused {
	color: black;
	border: 2px solid #00897b;
	background: transparent;
}
.portfolio img {
	margin-bottom: 30px;
}
.filter {
	padding: 120px 0;
}

div[filter]:hover img {
	filter: brightness(50%);
	transition: 0.3s;
}
.text {
	display: none;
}
div[filter]:hover .text {
	display: block;
	width: 100%;
	color: white;
	position: absolute;
	top: 40%;
	left: 0;
	z-index: 3;
	text-align: center;
}
/*Pricing*/
.pricing {
	padding-top: 165px;
	padding-bottom: 125px;
	color: black;
	background: #f0f1f1;
	text-align: center;
}
.price {
	background: white;
	transition: 0.3s;
}
.price:hover {
	box-shadow: 0px 0px 11px 3px rgba(0, 0, 0, 0.39);
}
.price-head {
	color: white;
 background-image: url(../../img/pricing_bg.png);
 padding-top: 40px;
 padding-bottom: 65px;
 background-size: cover;
 background-repeat: no-repeat;
 height: 211px;
}
.price-head p {
	font-size: 25px;
}
.price-head {
	font-size: 50px;
}
.price-head sub {
	vertical-align: middle;
	font-size: 17px;
}
.price-head sup {
	vertical-align: middle;
	font-size: 25px;
}
.price-body {
	font-size: 17px;
	color: #212121;
}
.price-body ul li{
	padding-top: 28px;
	padding-bottom: 12px;
	margin: 0 auto;
	max-width: 175px;
	border-bottom: 1px solid #bfbfbf;
}
.price-footer{
	padding: 60px 0;
}
.price-footer button {
	cursor: pointer;
	border: 2px solid #212121;
	color: #212121;
	background: transparent;
	width: 180px;
	height: 60px;
	font-size: 20px;
	transition: 0.3s;
}
.price-footer button:hover {
	text-transform: uppercase;
	color: white;
	background: #00897b;
	border: none;
}
/*team*/
.team {
	padding-top: 165px;
	padding-bottom: 125px;
	color: black;
	background: white;
	text-align: center;
}
.team h4 {
	margin-top: 30px;
	font-size: 20px;
	font-family: 'Open Sans Semibold';
}
.team p {
	font-size: 15px;
	margin-bottom: 30px;
}
.icons i a {
	transition: 0.3s;
}
.icons {
	display: flex;
	justify-content: center;
}
.icons i:nth-child(1) {
	color: #f0f1f1;
}
.icons i:nth-child(2) {
	color: #00897b;
}
.icons a:hover i:nth-child(1) {
	color: #3949ab;
}
.icons a:hover i:nth-child(2) {
	color: #fff;
}
.team img {
	margin: 0 auto;
	max-width: 340px;
}
.multiple-items {
	margin-top: 125px;
}
.dots-style {
	margin-top: 115px;
	display: flex;
	justify-content: center;
}
.dots-style button {
	background: #00897b;
	border: none;
	border-radius: 50%;
	font-size: 0;
	height: 15px;
	width: 15px;
	margin: 5px;
}
.dots-style li[class='slick-active'] button {
	background: #3949ab;
}
/*blog*/
.left > div:first-child {
	order: 1;
}
.left > div:last-child {
	order: 2;
}
.right > div:first-child {
	order: 2;
}
.right > div:last-child {
	order: 1;
}
.blog {
	margin-top: 60px;
	margin-left: 20px;
	text-align: left;
}
.blog span {
	font-size: 17px;
	font-family: 'Open Sans Semibold' ;
	margin-right: 35px;
}
.blog a {
	font-size: 25px;
	color: #00897b;
	font-family: 'Open Sans Semibold';
}
.blog div {
	margin-top: 15px;
	margin-bottom: 20px;
}
.blog i {
	margin-right: 15px;
}
.blog p {
	font-size: 15px;
}
.left, .right {
	margin: 0px -40px !important;
}
.button-blog {
	width: 220px;
	height: 70px;
	text-transform: uppercase;
	color: white;
	font-size: 20px;
	margin-top: 125px;
	border: none;
	background: #00897b;
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
}
.button-blog:hover {
	background: white;
	color: black;
	border: 2px solid black;
}
/*footer*/
.footer {
	padding-top: 165px;
	padding-bottom: 125px;
	color: white;
	background-image: url(../../img/footer.png);
	background-repeat: no-repeat;
	background-size: cover; 
	text-align: center;
}
.footer .about-text {
	color: white;
}
.fa-map-marker-alt, .fa-phone, .fa-envelope {
	font-size: 62px;
	color: white;
}
.circle {
	background: #3949ab;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto 35px;
}
.footer +p {
	font-size: 20px;
}
.footer input, .footer textarea {
	padding: 30px;
	width: 100%;
	border-radius: 10px;
	border: none;
}
.footer textarea {
	margin-top: 30px;
	margin-bottom: 30px;
	resize: none;
}
.footer button {
	font-size: 20px;
	color: #212121;
	font-family: 'Roboto', sans serif;
	text-transform: uppercase;
	padding: 20px 80px;
	border-radius: 0px;
	transition: 0.3s;
	border: none;
}
.form {
	margin-top: 70px;
}
.footer input:focus, .footer textarea:focus, .footer button:focus {
	outline: none;
}
.footer button:hover {
	opacity: 0.6;
}
.rules {
	padding: 20px 0;
	text-align: center;
	font-weight: 600;
}



