body {
	height: 2000px;
}
.title-font-size {
	font-size: 36px;
}
.title-font-size-1 {
	font-size: 24px;
}
#formGroupExampleInput {
	border-radius: 0;
}
#inlineFormCustomSelect {
	border-radius: 0;
}
select {
  font-family: 'FontAwesome', 'sans-serif';
}
#exampleFormControlTextarea1 {
	border-radius: 0;
}
.custom-file {
	border-radius: 0 !important;
}
.custom-file-input {
	border-radius: 0 !important;
}
.custom-file-label {
	border-radius: 0 !important;
}
.bg-blue {
	background-color: blue !important;
}
#borderForBottomLastDiv {
	border-radius: 0 0 10px 10px;
}

