.main-form {
	border-radius: 0 0 35px 35px;
}
#button-submit {
	color: lightgray;
	background-color: #282828;
	border-color: green;
}
#button-submit:hover {
	background-color: green;
	border-color: black;
}
a {
	color: white;
}
a:hover {
	cursor: pointer;
	color: green;
}