.navbar-collapse {
	font-size: 16px !important;
}

.nav-link {
	color: gray;
}
.navbar-expand-lg {
	background-color: #282828;
}
.container-fluid {
	background-color: #282828;
}
a:hover {
	background: #222222;
	color: lightgray;
	border-radius: 8px;
}
.form-inline {
	font-size: 14px;
}
.nav {
	font-size: 14px;
}
.form-control-xs {
	background-color: #282828;
	border: none;
	color: lightgray;
}
.btn-outline-success {
	border: none;
	background-image: url(../img/search-icon.png);
	width: 16px;
	height: 16px;
}
.btn-outline-success:hover {
	background-color: #222222;
}
a {
	padding: 5px !important;
	margin: 5px !important;
}
.container-settings {
	height: 100%;
	background-color: #555555;
	font-size: 14px;
}
.btn-dark {
	background-color: #323230;
	border-radius: 0 8px 0 8px;
	border: none;
	margin: 5px;
}
.fa-caret-right {
	color: #e95c00;
}
.board-border {
	border-bottom: 1px solid black;
}
.table-font-size {
	font-size: 10px;
}
.fa-star-o {
	font-size: 12px !important;
}
.p-a {
	display: block;
	position: absolute;
	margin-top: -32px;
	margin-left: 20px;
}
.shadow-sm {
	background: #fc0;
	box-shadow: 0 27px 1px gray;
}
.bg-white {
	background-color: white !important;
}
.table-font-size-misson {
	font-size: 18px;
}
.bg-blue {
	background-color: #366ec5;
}
.bg-bright-orange {
	background-color: #faa73d;
}
.bg-bright-orange-1 {
	background-color: #f8a840;
}
.bg-strong-lime-green {
	background-color: #34d033;
}
.bg-dark-grayish-cyan {
	background-color: #727677;
}